# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/casaja_bot

# Server Configuration
PORT=5000
NODE_ENV=development

# API URL (untuk bot)
API_URL=http://localhost:5000/api
